Example/BUILDS/*
Example/Library/*
Example/obj/*
Example/ProjectSettings/*
Example_unity5/*
SQLite4Unity3d/SQLite4Unity3d/bin/
SQLite4Unity3d/SQLite4Unity3d/obj/
SQLite4Unity3d/SQLite4Unity3dWP8/bin/
SQLite4Unity3d/SQLite4Unity3dWP8/obj/
*.meta
*.asset
*.log
*.info
*.db
SQLite4Unity3d/SQLite4Unity3d/SQLite4Unity3dWP8/Bin/Debug/Community.CsharpSqlite.WP7.dll
SQLite4Unity3d/SQLite4Unity3d/SQLite4Unity3dWP8/Bin/Release/Community.CsharpSqlite.WP7.dll